* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding-left: 1rem;
    font-size: 20px;
    color: #777;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

main {
    padding: 0 20px 20px 20px;
}

.images {
    margin-top: 20px;
}

ul {
    margin-top: 20px;
    margin-left: 1rem;
}

img {
    width: 90px;
    border-radius: 50%;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
    text-decoration: underline;
}
